[submodule "third-party/use-package"]
	path = third-party/use-package
	url = https://github.com/jwiegley/use-package
[submodule "third-party/realgud"]
	path = third-party/realgud
	url = https://github.com/cohomology/emacs-dbgr
[submodule "third-party/rtags"]
	path = third-party/rtags
	url = https://github.com/Andersbakken/rtags
