[submodule "third-party/use-package"]
	path = third-party/use-package
	url = https://github.com/jwiegley/use-package
[submodule "third-party/realgud"]
	path = third-party/realgud
	url = https://github.com/cohomology/emacs-dbgr
[submodule "third-party/rtags"]
	path = third-party/rtags
	url = https://github.com/Andersbakken/rtags
[submodule "third-party/load-relative"]
	path = third-party/load-relative
	url = https://github.com/rocky/emacs-load-relative
[submodule "third-party/loc-changes"]
	path = third-party/loc-changes
	url = https://github.com/rocky/emacs-loc-changes
[submodule "third-party/list-utils"]
	path = third-party/list-utils
	url = https://github.com/rolandwalker/list-utils
[submodule "third-party/elscreen"]
	path = third-party/elscreen
	url = https://github.com/knu/elscreen
[submodule "third-party/test-simple"]
	path = third-party/test-simple
	url = https://github.com/rocky/emacs-test-simple
